<h1><%= t 'activerecord.controllers.static_pages.gabor_test.menu_title'%></h1>
<h2><%= t 'activerecord.controllers.static_pages.gabor_test.title_book'%></h2>
<br/>gabor_test
<h3><%= t 'activerecord.controllers.static_pages.gabor_test.chapter_title'%></h3>
<p><%= t 'activerecord.controllers.static_pages.gabor_test.gabor_szovege' %></p>