<h1><%= t 'activerecord.controllers.static_pages.guru_yoga.menu_title'%></h1>
<h2><%= t 'activerecord.controllers.static_pages.guru_yoga.title_book'%></h2>
<br/>
<h3><%= t 'activerecord.controllers.static_pages.guru_yoga.chapter_title'%></h3>
<p><%= t 'activerecord.controllers.static_pages.guru_yoga.gabor_szovege' %></p>
