<h1><%= t 'activerecord.controllers.static_pages.home.title' %></h1>
<%= image_tag('130603-banner-reg-2-pg.png', :id => 'home_pic') %>
<span class="subtitle"><%= t 'activerecord.controllers.static_pages.home.subtitle' %></span>
<h3>Dear Friends! The online registration for the 2013 Becske course has finished. If you haven't registered, you will be able to register at the beginning of the course.</h3>
<h3>Kedves Barátok! Az online regisztráció a Becske kurzusra véget ért. Ha még nem regisztráltatok, akkor a kurzuson ezt megtehetitek.</h3>
