<h1><%= t 'activerecord.controllers.static_pages.home.title' %></h1>
<%= image_tag('joyful-bonds.jpg', :id => 'home_pic') %>
<span class="subtitle"><%= t 'activerecord.controllers.static_pages.home.subtitle' %></span>
<h3>Becske course 2014 registration coming soon.</h3>
<h3>Kedves Barátok! Az online regisztráció a Becske kurzusra véget ért. Ha még nem regisztráltatok, akkor a kurzuson ezt megtehetitek.</h3>
