<h1><%= t 'activerecord.controllers.static_pages.traveling_teachers.menu_title'%></h1>
<h2><%= t 'activerecord.controllers.static_pages.traveling_teachers.title_book'%></h2>
<br/>traveling_teachers
<h3><%= t 'activerecord.controllers.static_pages.traveling_teachers.chapter_title'%></h3>
<p><%= t 'activerecord.controllers.static_pages.traveling_teachers.text' %></p>